<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date %>
  </div>

  <div class="field">
    <%= form.label :contract_type %>
    <%= form.text_field :contract_type %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="field">
    <%= form.label :visa_status %>
    <%= form.text_field :visa_status %>
  </div>

  <div class="field">
    <%= form.label :visa_expiration %>
    <%= form.date_select :visa_expiration %>
  </div>

  Addresses:
  <ul>
    <%= render 'addresses/form', form: form %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
