<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id %>
  </div>

  <div class="field">
    <%= form.label :siblinghood_id %>
    <%= form.text_field :siblinghood_id %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date %>
  </div>

  <div class="field">
    <%= form.label :inscription_date %>
    <%= form.date_select :inscription_date %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  Addresses:
  <ul>
    <%= form.fields_for :addresses do |addresses_form| %>
      <li>
        <div class="field">
          <%= addresses_form.label :label %>
          <%= addresses_form.text_field :label %>
        </div>

        <div class="field">
          <%= addresses_form.label :country %>
          <%= addresses_form.text_field :country %>
        </div>

        <div class="field">
          <%= addresses_form.label :zip_code %>
          <%= addresses_form.text_field :zip_code %>
        </div>

        <div class="field">
          <%= addresses_form.label :prefecture %>
          <%= addresses_form.text_field :prefecture %>
        </div>

        <div class="field">
          <%= addresses_form.label :city %>
          <%= addresses_form.text_field :city %>
        </div>

        <div class="field">
          <%= addresses_form.label :addr1 %>
          <%= addresses_form.text_field :addr1 %>
        </div>

        <div class="field">
          <%= addresses_form.label :addr2 %>
          <%= addresses_form.text_area :addr2 %>
        </div>
      </li>
    <% end %>
  </ul>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
