<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @student.school_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @student.group_id %>
</p>

<p>
  <strong>Siblinghood:</strong>
  <%= @student.siblinghood_id %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @student.birth_date %>
</p>

<p>
  <strong>Inscription date:</strong>
  <%= @student.inscription_date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @student.note %>
</p>

<% if @allergies.any? %>
  <strong>List of allergies:</strong>
  <ul>
    <% @allergies.each do |allergy| %>
      <li><%= allergy.food %></li>
    <% end %>
  </ul>
<% else %>
  <strong>No allergies</strong>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
