<%= form_with(model: school) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  Addresses:
  <ul>
    <%= form.fields_for :addresses do |addresses_form| %>
      <li>
        <div class="field">
          <%= addresses_form.label :label %>
          <%= addresses_form.text_field :label %>
        </div>

        <div class="field">
          <%= addresses_form.label :country %>
          <%= addresses_form.text_field :country %>
        </div>

        <div class="field">
          <%= addresses_form.label :zip_code %>
          <%= addresses_form.text_field :zip_code %>
        </div>

        <div class="field">
          <%= addresses_form.label :prefecture %>
          <%= addresses_form.text_field :prefecture %>
        </div>

        <div class="field">
          <%= addresses_form.label :city %>
          <%= addresses_form.text_field :city %>
        </div>

        <div class="field">
          <%= addresses_form.label :addr1 %>
          <%= addresses_form.text_field :addr1 %>
        </div>

        <div class="field">
          <%= addresses_form.label :addr2 %>
          <%= addresses_form.text_area :addr2 %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
